<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', path='/styles.css')}}" rel="stylesheet">
    <title>Item</title>   
</head>
<body>

    <header>
                <img  src="/static/img/Icono.png" alt="Logo">
                <nav>
                    <a href="{{ url_for('read_items') }}">Lista de items</a>
                </nav>
            
    </header>
                
            
    <div class="banner">
        <img class="Banner_img" src="/static/img/Banner_1.png" alt="Banner_1"> 
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>