{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Mi lista {% endblock %}</h1>
    
    
    <table id="formcenter">

        <tr>
            <th>ID Item</th>
            <th>Nombre</th>
            <th>Descripción </th>
            <th>Acciones</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name}} </td>
            <td>{{ item.description }} </td>
            <td class="css"> 
                <button class="css" value="Ver detalles" onclick="window.location.href='/items/{{item.id}}' ;" >Ver detalles</button> 
            </td>

        </tr>

           
           
        {% endfor %}
    </table>
{% endblock %}
